$cd-txtt: #6300a0;
$cd-box: #fff;
$cd-btn: #011c37;
$cd-txt: #15DEA5;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;
$ball-size: 5rem;
$cd-secondary: skyblue;
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);

.btn {
    background: $cd-btn-start;
    color: $cd-txt;
    border: $cd-btn solid 5px;
    text-align: center;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(1);
    transition: transform 0.45s ease-in-out, background-color 0.3s 0.15s;
  
    
    &:hover {   /* + .ball (pour ajouter leffect adjacent sur la ball ) */
        transform: scale(1.15);
        background-color: $cd-btn-end;
    }
}

.ball {
    width: $ball-size;
    height: $ball-size;
    background: $cd-secondary;
    margin-bottom: 1rem;
    border-radius: $ball-size * 0.5;
    transform: scale(0.1);
    transition: transform 4s;
}


.container {
  background-color: rgb(237, 246, 247);
  margin: 50px;
}

.form {
  &__group {
      & input {
      border: 2px solid $cd-box;
      border-radius: 100rem;
      color: $cd-txtt;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      outline: none;
      padding: .5rem 1.5rem;
      width: 100%;
      transition: background-color 0.5s;
      &:focus {
          border: 2px solid $cd-txt;
          }
     &:not(:focus):invalid {
        background: $cd-danger;
                border: 2px solid $cd-danger;
                color: $cd-txt--invalid;
     }
      }
  }
}


.test{
    height: 10px;
    width: 50px;
    background: #15DEA5;
    margin-top: 20px;
    transition: all 0.4s;
    transform: scale(1) ease-in-out;
    margin-bottom: 50px;
}

.testt{
    margin-top: 20px;
    height: 35px;
    width: 100px;
    background: #b20a37;
    cursor: pointer;

    &:active + .test {
        transform: scale(2,0.5)  translate(150px, 20px) rotate(1turn);
    }
}

.bt{
    height: 35px;
    width: 100px;
    background: #b20a37;
    cursor: pointer;
}
.progress {
    &__bar {
    transform: scaleX(0);
    }
}